<?xml version="1.0" encoding="UTF-8"?>
<project name="${project.name}" default="main">
  <target name="clean">
    <delete>
      <fileset>
        <include name="${reports.dir}/*.*" />
        <exclude name="${reports.dir}/buildlog.xml" />
      </fileset>
    </delete>
  </target>

  <target name="svn.cleanup">
    <exec program="cmd.exe" verbose="true" workingdir="${src.dir}">
      <arg value="/c" />
      <arg value="${svn.file}" />
      <arg value="cleanup" />
    </exec>
  </target>

  <target name="svn.update">
    <exec program="cmd.exe" verbose="true" workingdir="${src.dir}">
      <arg value="/c" />
      <arg value="${svn.file}" />
      <arg value="update" />
    </exec>
  </target>

  <target name="start.grid">
    <exec program="${psexec.file}" verbose="true" failonerror="false">
      <arg value="-i" />
      <arg value="0" />
      <arg value="-u" />
      <arg value="Moloch" />
      <arg value="-p" />
      <arg value="1" />
      <arg value="-d" />
      <arg value="java" />
      <arg value="-jar" />
      <arg value="${selenium.server.file}" />
    </exec>
  </target>
  
  <target name="msbuild.build">
    <exec program="${msbuild.file}" verbose="true" workingdir="${src.dir}">
      <arg value="/nologo" />
      <arg value="/noconsolelogger" />
      <arg value="${current.solution}" />
      <arg value="/t:${specified_run_build}" />
      <arg value="/p:Configuration=${configuration}" />
      <arg value="/logger:Kobush.Build.Logging.XmlLogger,${kobush.dll};${reports.dir}/msbuild.report.${current.solution}.${configuration}.xml" />
    </exec>
  </target>

  <target name="start.gallio">
    <exec program="${gallio.file}" failonerror="true" verbose="true" workingdir="${src.dir}">
      <arg value="${mbunit.project.file}" />
      <arg value="/rd:${reports.dir}" />
      <arg value="/rt:xml" />
    </exec>
  </target>
</project>