<#@ template inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" language="C#v3.5" debug="true" hostSpecific="true" #>
<#@ output extension=".cs" #>
<#@ include file="PageObjectGeneratorByXPath.ttinclude" #>
<#
 	string url = "Home.aspx";
   
	var mainClass = new ClassInfo {
		ClassName = "Home", 
		Elements = 
	@"/html/body/form[@id='form1']/div[3]/span[@id='lblUserName']"};
	var rowClasses = new List<ClassRowInfo>();
#>

<# 
	RenderClasses( mainClass, rowClasses, url);
#>