<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SiteUrl" value="http://localhost/SampleApplication/"/>
    <add key="StorageAdminSiteUrl" value="http://localhost/storageadmin/"/>
    <add key="SeleniumHost" value="localhost"/>
    <add key="SeleniumPort" value="4444"/>
  </appSettings>
</configuration>