<cruisecontrol>
  <project name="sample_application_continuous">
    <workingDirectory>D:\work\SeleniumDesign\build_artifacts\artifacts\continuous\temp</workingDirectory>
    <artifactDirectory>D:\work\SeleniumDesign\build_artifacts\artifacts\continuous</artifactDirectory>

    <webURL>http://localhost/ccnet/server/local/project/sample_application_continuous/ViewLatestBuildReport.aspx</webURL>

    <labeller type="defaultlabeller"/>
    <state type="state" directory="D:\work\SeleniumDesign\trunk\_build\artifacts\continuous\temp\state"/>

    <sourcecontrol type="svn">
      <trunkUrl>http://design-of-selenium-tests-for-asp-net.googlecode.com/svn/trunk</trunkUrl>
      <workingDirectory>D:\work\SeleniumDesign\build_artifacts\artifacts\continuous\temp</workingDirectory>
      <autoGetSource>false</autoGetSource>
      <executable>D:\work\builds\tools\svn\bin\svn.exe</executable>
    </sourcecontrol>

    <triggers>
      <intervalTrigger seconds="3000" buildCondition="IfModificationExists"/>
    </triggers>

    <tasks>
      <nant>
        <baseDirectory>D:\work\SeleniumDesign\trunk\_build\scripts\continuous</baseDirectory>
        <nologo>false</nologo>
        <logger>NAnt.Core.XmlLogger</logger>
        <buildFile>D:\work\SeleniumDesign\trunk\_build\scripts\continuous\main.build</buildFile>
        <buildArgs>-l:D:\work\SeleniumDesign\build_artifacts\artifacts\continuous\reports\buildlog.xml</buildArgs>
        <executable>D:\work\builds\tools\nant\bin\NAnt.exe</executable>
        <targetList>
          <target>main</target>
        </targetList>
        <buildTimeoutSeconds>14800</buildTimeoutSeconds>
      </nant>
    </tasks>

    <modificationDelaySeconds>50</modificationDelaySeconds>

    <publishers>
      <merge>
        <files>
          <file>D:\work\SeleniumDesign\build_artifacts\artifacts\continuous\reports\*.xml</file>
        </files>
      </merge>
      <xmllogger logDir="logs"/>
    </publishers>
  </project>
</cruisecontrol>